<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- 全局配置项 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 别名管理器 -->
	<typeAliases>
		<package name="mybatis00.test08.spring_integration"/>
	</typeAliases>

	<!-- 数据库厂商配置 -->
	<databaseIdProvider type="DB_VENDOR">
		<property name="MySQL" value="mysql"/>
	  	<property name="Oracle" value="oracle" />
		<property name="SQL Server" value="sqlserver"/>
	  	<property name="DB2" value="db2"/>
	</databaseIdProvider>
</configuration>